import streamlit as st
import speech_recognition as sr
import pyttsx3
import google.generativeai as genai
from PIL import Image
import io
import os
import PyPDF2
import docx
import json
import random
